/* CSS Document */

* {
	margin:0; padding:0;
}

body{
	/*background:#FFFFFF url(../images/footer_bg.gif) bottom repeat-x;*/
	/*margin-bottom:80px;*/
	/*padding-bottom:40px;*/
}


a:hover{text-decoration:none;}

a img { border:0;}
img {vertical-align:top;}
ul { list-style:none;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}


html, input, textarea
	{
		font-family:Arial, Helvetica, sans-serif; 
		font-size:11px;
		line-height:17px;
		color:#868686;		
	}

input, select { vertical-align:middle; font-weight:normal;}
strong {font-size:12px; color:#444444;}


.strong_updated {font-size:18px; font-weight:bold; color:#800000;}

.updated {font-weight:normal; color:#800000;}

.tiny {margin-left:10px;font-size:8.5px; font-weight:normal; color:#404040;}

.tiny a {margin-left:0px;font-size:8.5px; font-weight:bold; color:#3d6f92;}

.tiny2 {margin-left:10px;font-size:10px; font-weight:normal; color:#404040;}

.tiny2 a {margin-left:0px;font-size:10px; font-weight:bold; color:#3d6f92;}


.skinny {font-size:10px; font-weight:normal; color:#404040;margin-left:5px;}

a {color:#3d6f92; font-size:12px;}

p {margin-left:15px;margin-right:15px;}

/*main layout */
.h_logo{ height:35px; width:100%;}

#header_tall {background:url(../images/header_tall.gif) top repeat-x;}

#main { margin:0 auto;}

#header .left {padding:26px 0 0 0;}
#header .right {padding:46px 11px 0 0;}
#header .right a {color:#868686; font-family:arial; font-size:12px; background:url(../images/RSS.gif) no-repeat top right; padding:0 29px 2px 0;}

#menu {background:url(../images/menu_tall.gif) top repeat-x; height:65px;}
#menu .rightbg {background:url(../images/menu_right.gif) top right no-repeat;}
#menu .leftbg {background:url(../images/menu_left.gif) top left no-repeat; width:100%; height:65px;}
#menu .padding {padding:9px 0;}
#menu li {float:left; width:184px; background:url(../images/menu_libg.gif) top right repeat-y; font-size:12px; text-align:center;  display:block;}
#menu li a {color:#919191; text-decoration:none; font-weight:normal; font-size:12px; display:block; padding:8px 0 5px 0;}
#menu li span{ display:block; padding:8px 0 5px 0;}
#menu li a:hover {color:#000000; text-decoration:underline;}
#menu li span {color:#000000; text-decoration:underline;}
#menu .last {background:none;width:500px;text-align:left;padding-left:20px;}

#header .content {padding:45px 60px 28px 414px; color:#ffffff;}
#header .content .text {padding:2px 0 33px 2px;}
#header .content a img {float:right;}


#middle { width:100%;}


#footer .indent {padding:23px 0 0 17px; color:#868686; font-size:12px;}
#footer a {color:#526066; font-weight:bold;}



.more {text-align:right;}
.more a{background:url(../images/more_bg.gif) top right no-repeat; padding-right:13px; color:#000000; font-weight:bold;}

.date {background:url(../images/date_bg.gif) no-repeat 0 0; padding:2px 0 2px 22px; color:#444444;}

li { color:#000;}
li a {color:#3d6f92; font-size:11px;}

.b_text {color:#3d6f92;}
/* index */

#index #middle .indent {padding:17px 0 19px 0;}
#index #middle .columns1 .column1 .padding{padding:9px 13px 3px 15px;}
#index #middle .columns1 .column2 .padding{padding:9px 13px 3px 15px;}
#index #middle .columns1 .column3 .padding{padding:9px 13px 3px 15px;}
#index #middle .columns1 .p1 {padding:1px 0 7px 0;}
#index #middle .columns2 {padding:21px 0 0 0;}
#index #middle .columns2 .column1 .padding {padding:14px 21px 0 17px;}
#index #middle .columns2 .column2 .padding {padding:14px 18px 0 21px;}
#index #middle .columns2 .column1 .p1 {padding:7px 0 15px 0;}
#index #middle .columns2 .column2 .content {padding:10px 0 15px 0;}
#index #middle .columns2 .column2 .p1 {padding:2px 0 1px 0;}


/* index-1 */

#index_1 #middle .indent {padding:17px 0 20px 0;}
#index_1 #middle .column1 .padding1 {padding:16px 20px 0 16px;}
#index_1 #middle .column1 .padding1 .content{padding:14px 0 27px 1px;}
#index_1 #middle .column1 .padding1 .p1 {padding:1px 0 0 0;}
#index_1 #middle .column1 .padding1 .more {padding:0 6px 0 0;}

#index_1 #middle .column1 .padding2 {padding:36px 20px 0 16px;}
#index_1 #middle .column1 .padding2 .content{padding:16px 0 0 1px;}
#index_1 #middle .cols .more {margin-top:-19px;}
#index_1 #middle .cols .p1 {padding:21px 0 1px 0;}

#index_1 #middle .cols {padding:14px 0 0 0;}

#index_1 #middle .column2 .padding{padding:9px 13px 3px 15px;}
#index_1 #middle .column2 ul li {font-weight:bold;}
#index_1 #middle .column2 .p1 {padding:1px 0 8px 0;}
#index_1 #middle .column2 .p2 {padding:12px 0 17px 0;}
#index_1 #middle .column2 .p3 {padding:17px 0 17px 0;}


/* index-2 */

#index_2 #middle .indent {padding:17px 0 20px 0;}
#index_2 #middle .columns1 .column1 .padding{padding:9px 13px 3px 15px;}
#index_2 #middle .columns1 .column2 .padding{padding:9px 13px 3px 15px;}
#index_2 #middle .columns1 .column1 ul {margin-bottom:7px;}
#index_2 #middle .columns1 .column1 .p1 {padding:1px 0 0 0;}
#index_2 #middle .columns1 .column2 .p1 {padding:1px 0 7px 0;}
#index_2 #middle .columns2 {padding:21px 0 0 0;}
#index_2 #middle .columns2 .column1 .padding {padding:14px 21px 0 17px;}
#index_2 #middle .columns2 .column2 .padding {padding:14px 18px 0 21px;}
#index_2 #middle .columns2 .column1 .p1 {padding:8px 0 10px 0;}
#index_2 #middle .columns2 .column1 .p2 {padding:0 0 4px 0;}
#index_2 #middle .columns2 .column2 .content {padding:7px 0 15px 0;}
#index_2 #middle .columns2 .column2 ul {margin-bottom:1px;}

/* index-3 */

#index_3 #middle .indent {padding:17px 0 20px 0;}
#index_3 #middle .column1 .padding1 {padding:16px 15px 0 23px;}
#index_3 #middle .column1 .padding1 .content{padding:5px 0 5px 1px;}
#index_3 #middle .column1 .padding1 .p1 {padding:1px 0 0 0;}
#index_3 #middle .column1 .padding1 .pd {padding:14px 0 0 0;}
#index_3 #middle .column1 .padding1 .pd2 {padding:10px 0 0 0;}
#index_3 #middle .column1 .padding1 .pd3 {padding:13px 0 0 0;}
#index_3 #middle .column1 .padding1 .more {padding:0 6px 0 0;}

#index_3 #middle .column1 .padding2 {padding:36px 20px 0 16px;}
#index_3 #middle .column1 .padding2 .content{padding:16px 0 0 1px;}
#index_3 #middle .cols .more {margin-top:-19px;}
#index_3 #middle .cols .p1 {padding:21px 0 1px 0;}

#index_3 #middle .cols {padding:14px 0 0 0;}

#index_3 #middle .column2 .padding{padding:9px 13px 8px 15px;}
#index_3 #middle .column2 .p1 {padding:1px 0 11px 0;}
#index_3 #middle .column2 .p2 {padding:12px 0 11px 0;}
#index_3 #middle .column2 .p3 {padding:13px 0 6px 0;}


/* index-4 */

#index_4 #middle .indent {padding:17px 0 20px 0;}
#index_4 #middle .column1 .padding1 {padding:16px 22px 0 16px;}
#index_4 #middle .column1 .padding1 .content{padding:14px 0 34px 1px;}
#index_4 #middle .column1 .padding1 .more {padding:0 2px 0 0; line-height:12px;}

#index_4 #middle .column1 .padding2 {padding:34px 23px 0 16px;}
#index_4 #middle .column1 .padding2 .content{padding:6px 0 0 1px;}
#index_4 #middle .column1 .padding2 .more {margin-top:9px;}

#index_4 #middle .column2 .padding{padding:9px 13px 3px 15px;}
#index_4 #middle .column2 .margin .padding{padding:9px 12px 2px 15px;}
#index_4 #middle .column2 ul {margin:0 0 2px 1px;}
#index_4 #middle .column2 .margin {padding-top:6px;}
#index_4 #middle .column2 .p1 {padding:0 0 8px 0;}


/* index-5*/

#index_5 #middle .indent {padding:17px 0 20px 0;}
#index_5 #middle .columns1 .column1 .padding{padding:9px 13px 16px 15px;}
#index_5 #middle .columns1 .column2 .padding{padding:9px 13px 0 15px;}
#index_5 #middle .columns1 .column1 ul {margin-bottom:7px;}
#index_5 #middle .columns1 .column1 .p1 {padding:1px 0 0 0;}
#index_5 #middle .columns1 a{color:#868686; font-size:11px; text-decoration:none;}
#index_5 #middle .columns1 a:hover {text-decoration:underline;}
#index_5 #middle .columns1 .column2 strong{font-size:11px;}

#index_5 #middle .columns2 {padding:22px 0 0 0;}
#index_5 #middle .columns2 .padding {padding:14px 15px 0 17px;}
#index_5 #middle .columns2 .p1 {padding:14px 0 10px 0;}
#index_5 #middle .columns2 .p2 {padding:0 0 4px 0;}

#form .column1 {width:183px;}
#form .column2 {width:521px;}

form .row {height:25px;}
form .row1 {height:34px;}

.input {width:171px; height:18px; border:1px solid #a4a4a4; background:none; padding:0 0 0 5px; font-family:tahoma; line-height:13px; color:#a4a4a4;}
textarea {width:516px; height:68px; border:1px solid #a4a4a4; background:none; padding:0 0 0 5px; overflow:auto; font-family:tahoma; line-height:13px; color:#a4a4a4;}
form .div {text-align:right; padding:6px 0 0 0;}

/* index-6 */

#index_6 #middle .indent {padding:33px 15px 17px 17px;}
#index_6 #middle .p1 {padding:6px 0 0 0;}



ul#list-nav {
list-style:none;
margin-top:87px;
margin-left:130px;
padding:0;
width:720px;
}

ul#list-nav li {
display:inline;
}

ul#list-nav li a {
text-decoration:none;
padding:6px;
background:#2988C9;
color:#fff;
float:left;
text-align:center;
border-left:1px solid #fff;
}

ul#list-nav li a:hover {
background:#90B6D0;
color:#fff;
}

ul#list-nav li.chosen a {
background:#90B6D0;
}



ul#list-normal {
list-style:decimal;
padding-bottom:15px;
padding-right:15px;
padding-left:15px;
}

ul#list-normal li {
padding:5px;
margin-left:20px;
}

ul#list-dot {
list-style:disc;
padding-bottom:15px;
padding-right:15px;
padding-left:15px;
color:#000000;
}

ul#list-dot li {
padding:5px;
margin-left:20px;
}

ul#list-dot li a {
text-decoration:none;
color:#404040;
font-weight:normal;
}

p {
padding-bottom:15px;
}

ul.list-tick {
        margin-left: 15px;
        padding: 0;
}

ul.list-tick li {
        margin-bottom: 5px;
        padding: 0;
        list-style: disc;
	color:#808080;
}

ul#list-update {
        margin-left: 35px;
        padding: 0;
}

ul#list-update li {
        margin-bottom: 5px;
        padding: 0;
        list-style: disc;
	color:#800000;
}

ul#list-update li a{
	font-weight:bold;
	color:#800000;
}

ul#list-update li ul li{
        margin-bottom: 5px;
        padding: 0;
        list-style: circle;
	color:#800000;
        margin-left: 35px;
}

ul#list-sideofpic {
list-style:decimal;
padding-bottom:15px;
padding-right:15px;
padding-left:15px;
        margin-left: 35px;
}

ul#list-sideofpic li {
padding:5px;
margin-left:20px;
}


ul.newList {
	list-style-type: disc;
	list-style-image: none;
	list-style-position: inside;
	margin-left:40px;
	margin-bottom:10px;

}

ul.newList li {color:#000000;}

ul.newList li a { font-size:12px; }

